/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/

@media only screen and (min-width: 0px) {
  @font-face {
    font-family: "montserrat_boldregular";
    src: url("/fonts/Montserrat-Bold.ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "monserrat_lightregular";
    src: url("/fonts/Montserrat-Light.ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "monserrat_regular";
    src: url("/fonts/Montserrat-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
  #hero {
    background-image: url("../images/landing.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden;
  }

  #hero::before {
    content: "";
    display: block;
    position: absolute;
    background: var(--orange);
    height: 30px;
    width: 600px;
    opacity: 1;
    bottom: -94px;
    left: 50%;
    margin-left: -200px;
    z-index: 10;
    transform:rotate(2deg);

  }

  #hero h1 {
    color: #333;
    font-weight: normal;
    margin-top: 80px;
    margin-bottom: 70px;
  }

  #hero .stat-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 1;
    position: relative;
  }

  #hero .stat-container::before {
    content: "";
    position: absolute;
    display: block;
    height: 350px;
    width: 500px;
    background: #fff;
    opacity: 0.4;
    top: -20px;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%) rotate(1deg);
  }

  #hero .stats {
    width: 100px;
    margin-bottom: 22px;
  }

  #hero .stats:nth-of-type(1),
  #hero .stats:nth-of-type(3) {
    margin-right: 50px;
  }

  #hero .stats .number {
    font-size: 26px;
    line-height: 40px;
    color: var(--primary);
    font-family: "montserrat_boldregular";
    display: block;
  }

  #hero .stats .text {
    display: block;
    font-size: 13px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--primary);
  }
  #hero .stats .text span {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}

/*-- -------------------------- -->
<---          Management        -->
<--- -------------------------- -*/

@media only screen and (min-width: 0px) {
  #management {
    position: relative;
    z-index: 1;
  }

  #management::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    height: 284px;
    width: 523px;
    background: url("../images/city.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
    transform: translateX(-50%) rotate(-2deg);
    z-index: -2;
  }

  #management::after {
    content: "";
    position: absolute;
    display: block;
    height: 283px;
    width: 600px;
    background: var(--primary);
    top: 0;
    left: 50%;
    opacity: 0.9;
    z-index: -1;
    transform: translateX(-50%) rotate(-2deg);
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}
