/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/

@media only screen and (min-width: 0px) {
  @font-face {
    font-family: "montserrat_boldregular";
    src: url("/fonts/Montserrat-Bold.ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "monserrat_lightregular";
    src: url("/fonts/Montserrat-Light.ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "monserrat_regular";
    src: url("/fonts/Montserrat-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
  #hero {
    background-image: url("../images/landing.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 110vh;
  }

  #hero h1 {
    color: #333;
    font-weight: normal;
    margin-top: 100px;
  }

  #hero .stats .number {
    font-size: 26px;
    line-height: 40px;
    color: var(--primary);
    font-family: "montserrat_boldregular";
    display: block;
  }

  #hero .stats .text {
    display: block;
    font-size: 13px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--primary);
  }
  #hero .stats .text span{
    display: block;
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}
